* {
  box-sizing: border-box;
  margin: 0; }

body main .about .about-us {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid darkslategray;
  margin: 1rem;
  background-color: rgba(39, 55, 70, 0.2); }
  body main .about .about-us h2 {
    text-align: center; }

body main .about .mission {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid darkslategray;
  margin: 1rem;
  background-color: rgba(39, 55, 70, 0.2); }
  body main .about .mission h2 {
    text-align: center; }

body main .liabilities .commit {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center; }
  body main .liabilities .commit p {
    text-align: center;
    color: grey;
    font-style: italic; }
  body main .liabilities .commit .material-icons {
    font-size: 3rem;
    margin: 2rem; }
  body main .liabilities .commit button a {
    text-decoration: none;
    color: green; }

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  header h1 {
    color: darkslategray;
    font-size: 4rem;
    padding: 2rem; }
  header .info {
    text-align: center; }
    header .info p {
      display: flex;
      align-items: center;
      justify-content: center; }
      header .info p .material-icons {
        padding: 2px; }
  header .cart {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 1rem 2rem; }
    header .cart a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: darkslategray;
      border: 1px solid darkslategray;
      border-radius: 5px;
      padding: 10px 25px; }
  header .user {
    font-size: 2.5rem;
    color: darkslategray; }
  header nav button:hover {
    background-color: rgba(41, 45, 49, 0.5); }
  header nav ul li {
    text-align: center;
    padding: 1rem 10rem; }
    header nav ul li:hover {
      background-color: rgba(41, 45, 49, 0.5); }

footer {
  background-color: rgba(40, 43, 46, 0.9);
  color: #af834c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  footer .contact h4 {
    font-size: 1.5rem;
    padding: 3px;
    text-align: center;
    border-bottom: 1px dotted #af834c; }
  footer .contact h5 {
    font-size: 1.1rem; }
  footer .contact p {
    font-style: italic;
    color: rgba(187, 180, 171, 0.76); }
