* {
  box-sizing: border-box;
  margin: 0; }

body main .about .about-us {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid darkslategray;
  margin: 1rem;
  background-color: rgba(39, 55, 70, 0.2); }
  body main .about .about-us h2 {
    text-align: center; }

body main .about .mission {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid darkslategray;
  margin: 1rem;
  background-color: rgba(39, 55, 70, 0.2); }
  body main .about .mission h2 {
    text-align: center; }

body main .liabilities .commit {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center; }
  body main .liabilities .commit p {
    text-align: center;
    color: grey;
    font-style: italic; }
  body main .liabilities .commit .material-icons {
    font-size: 3rem;
    margin: 2rem; }
  body main .liabilities .commit button a {
    text-decoration: none;
    color: green; }

main #productos {
  margin: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem; }
  main #productos .card .card-title {
    font-size: 1.5rem; }
  main #productos .card .card-text {
    text-align: center; }
  main #productos .card .card-price {
    color: #0fe90f;
    font-style: italic; }
  main #productos .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    opacity: 0.8;
    color: aliceblue; }

main .modal .modal-content .modal-body {
  padding: 0.5rem; }

main .modal .modal-content .cabecera {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr; }
  main .modal .modal-content .cabecera p {
    display: inline;
    margin: auto; }

main .modal .modal-content .elementoCarrito {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  margin: 1rem 0; }
  main .modal .modal-content .elementoCarrito p {
    margin: auto; }
  main .modal .modal-content .elementoCarrito form {
    margin: auto; }
  main .modal .modal-content .elementoCarrito .botonEliminar {
    background-color: white;
    border: none;
    padding: 0.3rem; }
    main .modal .modal-content .elementoCarrito .botonEliminar:hover {
      background-color: slategrey; }

main .dropdown {
  text-align: center; }

.loginBody {
  background-color: rgba(112, 128, 144, 0.598);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .loginBody .loginCard {
    border: 1px solid rgba(53, 53, 53, 0.653);
    background-color: rgba(112, 128, 144, 0.598);
    padding: 3px;
    border-radius: 10px;
    box-shadow: rgba(81, 91, 101, 0.598) 3px 5px; }
    .loginBody .loginCard img {
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .loginBody .loginCard h1 {
      margin-bottom: 2rem; }
    .loginBody .loginCard div {
      display: flex;
      justify-content: space-between;
      width: 250px;
      margin: 1rem; }
      .loginBody .loginCard div input::placeholder {
        color: darkslategray;
        border-radius: 2px; }
    .loginBody .loginCard .boton {
      margin: 1rem;
      padding: 0.5rem 3rem;
      background-color: rgba(41, 58, 58, 0.728);
      color: rgba(254, 254, 254, 0.9);
      border-radius: 5px;
      border: none;
      box-shadow: rgba(21, 30, 30, 0.728) 2px 2px; }
      .loginBody .loginCard .boton:hover {
        box-shadow: none; }

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  header a {
    text-decoration: none; }
  header h1 {
    color: darkslategray;
    font-size: 4rem;
    padding: 2rem; }
  header .info {
    text-align: center; }
    header .info p {
      display: flex;
      align-items: center;
      justify-content: center; }
      header .info p .material-icons {
        padding: 2px; }
  header .cart {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 1rem 2rem; }
    header .cart a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: darkslategray;
      border: 1px solid darkslategray;
      border-radius: 5px;
      padding: 10px 25px; }
    header .cart .carrito {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: darkslategray;
      border: 1px solid darkslategray;
      border-radius: 5px;
      padding: 10px 25px; }
      header .cart .carrito #contadorCarrito {
        border: none;
        position: absolute;
        margin-left: 1.2rem;
        background-color: darkslategray;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        color: azure;
        text-align: center; }
  header .user {
    font-size: 2.5rem;
    color: darkslategray; }
  header nav button:hover {
    background-color: rgba(41, 45, 49, 0.5); }
  header nav ul li {
    text-align: center;
    padding: 1rem 10rem; }
    header nav ul li:hover {
      background-color: rgba(41, 45, 49, 0.5); }

footer {
  background-color: rgba(40, 43, 46, 0.9);
  color: #af834c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  footer .contact h4 {
    font-size: 1.5rem;
    padding: 3px;
    text-align: center;
    border-bottom: 1px dotted #af834c; }
  footer .contact h5 {
    font-size: 1.1rem; }
  footer .contact p {
    font-style: italic;
    color: rgba(187, 180, 171, 0.76); }
