@import 'mixins';
body{
    main{
        .about{
            .about-us{
                @include homeCards;
            }
            .mission{
                @include homeCards;
            }
        }
        .liabilities{
            .commit{
                display: flex;
                flex-direction: column;
                padding: 2rem;
                justify-content: center;
                align-items: center;                
                p{
                    text-align: center;
                    color: grey;
                    font-style: italic;                    
                }
                .material-icons{
                    font-size: 3rem;
                    margin: 2rem;
                }
                button{
                    
                    a{
                        text-decoration: none;    
                        color:green;                    
                    }
                }
            }
        }
    }
}