
main{
    .titulo{
        text-align: center;
        background-color: rgba(68, 92, 92, 0.322);
        height: 5rem;
        line-height: 5rem;
    }
    #productos{
        margin: 5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        .card{
            .card-title{
                font-size: 1.5rem;
            }
            .card-text{
                text-align: center;
            }
            .card-price{
                color: rgb(15, 233, 15);
                font-style: italic;
            }
            .card-body{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: $gris-oscuro;
                opacity: 0.8;
                color: aliceblue;
            }
        }
    }
    .modal{
        .modal-content{
            #desc{
                text-align: center;
                font-weight: bold;
                background-color: rgba(169, 169, 169, 0.584);
                border-radius: 5px;
                padding: 1rem;
                .btnDescuento{
                    margin: 5px;
                    display: block;
                }
            }
            .modal-body{
                padding: 0.5rem;
            }
            .cabecera{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 0.5fr;
                p{
                    display:inline;
                    margin: auto;
                }
            }
            .precioFinal{
                margin-top: 1rem;
            }
            .elementoCarrito{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 0.5fr;
                margin: 1rem 0;
                p{
                    margin: auto;
                }
                form{
                    margin: auto;
                }
                .botonEliminar{
                    background-color: white;
                    border: none;
                    padding: 0.3rem;
                    &:hover{
                        background-color: slategrey;
                    }
                }           
            }
        }
    }
    .dropdown{
        text-align: center;
    }
    #porEncargo{
        margin: 5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        .card2{
            border: 1px $gris-oscuro solid;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .agregarAlCarrito{
                padding: 0.5rem;
                margin-bottom: 1rem;
            }
            .card-title{
                font-size: 0.9rem;
                padding: 1rem 0.5rem;
            }
            .card-price{
                color: rgb(15, 233, 15);
                font-style: italic;
            }
            .card-body{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                justify-items: center;
                align-items: center;
                background-color: darkslategray;
                opacity: 0.8;
                color: aliceblue;
                padding: 0.2rem;
                text-align: center;
                height: 20rem;
            }
        }
    }
}