
main{
    #productos{
        // margin-top: 2rem;
        // margin-bottom: 2rem;
        margin: 5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        .card{
            .card-title{
                font-size: 1.5rem;
            }
            .card-text{
                text-align: center;
            }
            .card-price{
                color: rgb(15, 233, 15);
                font-style: italic;
            }
            .card-body{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: $gris-oscuro;
                opacity: 0.8;
                color: aliceblue;
            }
        }
    }
    .modal{
        .modal-content{
            .modal-body{
                padding: 0.5rem;
            }
            .cabecera{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 0.5fr;
                p{
                    display:inline;
                    margin: auto;
                }
            }
            .elementoCarrito{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 0.5fr;
                margin: 1rem 0;
                p{
                    margin: auto;
                }
                form{
                    margin: auto;
                }
                .botonEliminar{
                    background-color: white;
                    border: none;
                    padding: 0.3rem;
                    &:hover{
                        background-color: slategrey;
                    }
                }           
            }
        }
    }
    .dropdown{
        text-align: center;
    }
}